name: Build Release Executables

on:
  release:
    types: [published]

permissions:
    contents: write

env:
  GH_TOKEN: ${{ github.token }}

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Setup Rokit
              uses: CompeyDev/setup-rokit@v0.1.2
            - name: Setup pesde
              uses: axiom-co/setup-pesde@b690699ace34169731b6b2a1c93b2008472038a7
              with:
                token: ${{ secrets.PESDE_TOKEN }}
                cache: true
            - name: Install Pesde Packages
              run:
                pesde install
            - name: Bundle
              run:
                pesde x pesde/darklua -- process pkgs/bin/src bundle
            - name: Lune Build
              run:
                lune build bundle/init.luau -o ./lexi-x86_64-windows.exe -t windows-x86_64;
                lune build bundle/init.luau -o ./lexi-aarch64-windows.exe -t windows-aarch64;
                lune build bundle/init.luau -o ./lexi-x86_64-macos.exe -t windows-x86_64;
                lune build bundle/init.luau -o ./lexi-aarch64-macos.exe -t windows-aarch64;
                lune build bundle/init.luau -o ./lexi-x86_64-linux -t linux-x86_64;
                lune build bundle/init.luau -o ./lexi-aarch64-linux -t linux-aarch64
            - name: Compress
              run:
                tar -czf ./lexi-x86_64-windows.tar.gz ./lexi-x86_64-windows.exe;
                tar -czf ./lexi-aarch64-windows.tar.gz ./lexi-aarch64-windows.exe;
                tar -czf ./lexi-x86_64-macos.tar.gz ./lexi-x86_64-macos.exe;
                tar -czf ./lexi-aarch64-macos.tar.gz ./lexi-aarch64-macos.exe;
                tar -czf ./lexi-x86_64-linux.tar.gz ./lexi-x86_64-linux;
                tar -czf ./lexi-aarch64-linux.tar.gz ./lexi-aarch64-linux
            - name: Release files
              run:
                gh release upload ${{github.event.release.tag_name}} ./lexi-x86_64-windows.tar.gz;
                gh release upload ${{github.event.release.tag_name}} ./lexi-aarch64-windows.tar.gz;
                gh release upload ${{github.event.release.tag_name}} ./lexi-x86_64-macos.tar.gz;
                gh release upload ${{github.event.release.tag_name}} ./lexi-aarch64-macos.tar.gz;
                gh release upload ${{github.event.release.tag_name}} ./lexi-x86_64-linux.tar.gz;
                gh release upload ${{github.event.release.tag_name}} ./lexi-aarch64-linux.tar.gz